modules/sapience-injectors-testclient/src/test/resources/samples/WSDL11/wsdl11-sawsdl-testcases/06-multiple-complextype-annotation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl11:definitions name="OrderService"
  targetNamespace="http://www.w3.org/2002/ws/sawsdl/spec/wsdl/order#"
  xmlns="http://www.w3.org/2002/ws/sawsdl/spec/wsdl/order#"
  xmlns:wsdl11="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:sawsdl="http://www.w3.org/ns/sawsdl">

  <wsdl11:types>
    <xs:schema targetNamespace="http://www.w3.org/2002/ws/sawsdl/spec/wsdl/order#" elementFormDefault="qualified">
      <xs:element name="OrderRequest" type="OrderRequestType" 
          sawsdl:modelReference="http://example.org/elementAnnotation" />
      <xs:complexType name="OrderRequestType"
          sawsdl:modelReference="http://www.w3.org/2002/ws/sawsdl/spec/ontology/purchaseorder#OrderRequest
                                 http://example.org/typeAnnotation">
        <xs:sequence>
          <xs:element name="customerNo" type="xs:integer" />
          <xs:element name="orderItem" type="item" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>
      
      <xs:complexType name="item"
               sawsdl:modelReference="http://www.w3.org/2002/ws/sawsdl/spec/ontology/purchaseorder#Item">
        <xs:all>
          <xs:element name="UPC" type="xs:string" />
        </xs:all>
        <xs:attribute name="quantity" type="xs:integer" />
      </xs:complexType>

     
      <xs:simpleType name="confirmation">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Confirmed"/>
          <xs:enumeration value="Pending"/>
          <xs:enumeration value="Rejected"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl11:types>

  <wsdl11:message name="OrderRequestMessage">
    <wsdl11:part name="OrderRequest" element="OrderRequest" />
  </wsdl11:message>
  <wsdl11:message name="OrderResponseMessage">
    <wsdl11:part name="OrderResponse" type="confirmation"/>
  </wsdl11:message>

  <wsdl11:portType name="Order">
    <wsdl11:operation name="order">
      <wsdl11:input message="OrderRequestMessage" />
      <wsdl11:output message="OrderResponseMessage" />
    </wsdl11:operation>
  </wsdl11:portType>
</wsdl11:definitions>
